:root {
  --cor-texto: #008fcb;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 600px;
  background-color: #111;
  border-radius: 16px;
  padding: 40px;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 200px;
}

h2 {
  margin-bottom: 16px;
  color: var(--cor-texto);
  font-weight: 700;
  text-align: center;
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: var(--cor-texto);
  font-weight: 500;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #222;
  color: #fff;
  outline: none;
  transition: border 0.3s;
}

.input-group input:focus,
.input-group select:focus {
  border: 1px solid var(--cor-texto);
}

.btn-submit {
  width: 100%;
  padding: 14px;
  background-color: var(--cor-texto);
  border: none;
  border-radius: 8px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-submit:hover {
  background-color: #0278aa;
}
