<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/home.css" />
    <title>Home | AICAN</title>
  </head>
  <body>
    <!-- Vídeo de fundo -->
    <video autoplay muted loop playsinline class="bg-video">
      <source src="../assets/gym.fundo.mp4" type="video/mp4" />
      Seu navegador não suporta vídeo HTML 5
    </video>
    <div class="video-overlay"></div>

    <!-- Box central -->
    <div class="home-container">
      <div class="home-box">
        <!-- Logo -->
        <img src="../assets/logo.aican.png" alt="Logo AICAN" class="logo" />

        <!-- Texto principal -->
        <h2>Bem-vindo</h2>
        <p class="descricao" id="descricao">
          Um guia de exercícios e nutrição. Você nos diz onde quer chegar, e
          nossa IA sugere o caminho.
        </p>

        <!-- Botão de ação -->
        <a href="../view/solicitar-lista.html" class="btn-home"
          >Começar agora</a
        >

        <!-- Link de ajuda -->
        <a href="ajuda.html" class="link-ajuda"
          >Entenda como a IA ajuda você.</a
        >
      </div>
    </div>
    <script src="../scripts/functions.js"></script>
    <script src="../scripts/transicao.js"></script>
  </body>
</html>
