<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minha Lista | AICAN</title>
    <link rel="stylesheet" href="../styles/lista.css" />
  </head>
  <body>
    <video autoplay muted loop playsinline class="bg-video">
      <source src="../assets/gym.fundo.mp4" type="video/mp4" />
      Seu navegador não suporta vídeo HTML5
    </video>

    <div class="container">
      <div class="form-box">
        <div class="logo-container">
          <img src="../assets/logo.aican.png" alt="Logo Aican" class="logo" />
        </div>

        <h2 id="tituloLista">Preparando sua rotina...</h2>

        <div class="loading-content" id="loading">
          <div class="circular-loader"></div>
          <p class="loading-text">Aguarde alguns instantes</p>
        </div>

        <div id="conteudoLista" style="display: none">
          <div class="treinos-scroll" id="diasTreino"></div>
          <div id="treinoDetalhado" class="treino-detalhado"></div>
          <div id="receitas"></div>
          <div class="botoes-final">
            <button class="btn-voltar" onclick="voltarParaFormulario()">
              Refazer Cadastro
            </button>
            <button class="btn-pdf">Gerar PDF</button>
          </div>
        </div>
      </div>
    </div>

    <script src="../scripts/lista.js"></script>
    <script src="../scripts/functions.js"></script>
  </body>
</html>
