<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/login.css" />

    <title>Login | Aican</title>
  </head>

  <body>
    <!-- Imagem de fundo -->
    <video autoplay muted loop class="bg-video">
        <source src="../assets/gym.fundo.mp4" type="video/mp4">
        Seu navegador não suporta vídeo HTML 5
    </video>

    <!-- Container principal -->
    <div class="login-container">
      <!-- Imagem da picanha na esquerda -->
      <div class="left-image">
        <img src="../assets/img.gym.png" alt="imagem fitness"></img>
      </div>

      <!-- Box de login -->
      <div class="login-box">
        <!-- Logo da loja -->
        <div class="logo-container">
          <img
            src="../assets/logo.aican.png"
            alt="Logo Canto da Picanha"
            class="logo"
          />
        </div>

        <h2>Acesso</h2>

        <form id="loginForm" action="">
          <div class="input-group">
            <label for="email">E-mail</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Digite seu e-mail"
            />
            <span class="error-message" id="email-error"></span>
          </div>

          <div class="input-group">
            <label for="senha">Senha</label>
            <div class="password-wrapper">
            <input
              type="password"
              id="senha"
              name="senha"
              placeholder="Digite sua senha"
            />
            <button
                type="button"
                class="toggle-password"
                onclick="togglePassword('senha')"
                aria-label="Mostrar ou ocultar senha"
              >
            <svg
                  id="icon-senha-open"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                  />
                </svg>
                <svg
                  id="icon-senha-closed"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
                  />
                </svg>
                </button>
                </div>
            <span class="error-message" id="senha-error"></span>
          </div>
          <button type="submit" class="btn-login">Entrar</button>
        </form>
        <p class="cadastro-link">
          Não tem conta?
          <a href="cadastro.html">Cadastre-se</a>
        </p>
      </div>
    </div>
    <script src="../scripts/validarLogin.js"></script>
    <script src="../scripts/functions.js"></script>
  </body>
</html>
